<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>News for you...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">News for you...</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-list-news [articles]="articles"></app-list-news>

  <ion-infinite-scroll
    threshold="25%"
    [disabled]="false"
    position="bottom"
    (ionInfinite)="loadData($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
